services:
  ml_service:
    build: .           
    container_name: ml_service
    environment:
      RABBITMQ_URL: amqp://rabbitmq_user:rabbitmq_pass@rabbitmq:5672/
      MINIO_ENDPOINT: minio:9000
      MINIO_DEFAULT_BUCKET: frames
      RABBITMQ_INPUT_QUEUE: frames_ml_in
      RABBITMQ_OUTPUT_QUEUE: camera_events
    networks:
      - tyk-network

networks:
  tyk-network:
    external: true
