services:
  ml_service:
    build: .           
    container_name: ml_service
    env_file:
      - .env
    environment:
      RABBITMQ_URL: ${RABBITMQ_URL}
      MINIO_ENDPOINT: ${MINIO_ENDPOINT}
      MINIO_DEFAULT_BUCKET: ${MINIO_DEFAULT_BUCKET}
      RABBITMQ_INPUT_QUEUE: ${RABBITMQ_INPUT_QUEUE}
      RABBITMQ_OUTPUT_QUEUE: ${RABBITMQ_OUTPUT_QUEUE}
    networks:
      - tyk-network

networks:
  tyk-network:
    external: true
