RABBITMQ_URL=amqp://rabbitmq_user:rabbitmq_pass@172.18.130.222:5672/
RABBITMQ_INPUT_QUEUE=rabbit_queue
RABBITMQ_OUTPUT_QUEUE=camera_events

MINIO_ENDPOINT=172.18.130.222:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password
MINIO_SECURE=false
MINIO_DEFAULT_BUCKET=camera-frames

